$color-black: #383838;
$color-dark-grey: #666666;
$color-light-grey: #9EA0A3;
$color-lightish-grey: #D8D8D8;
$color-lighter-grey: #F7F8F9;

$color-white: #FFFFFF;
$color-sand: #E3E2CE;
$color-light-sand: #EDE7D1;

$color-green: #D2D8C9;
$color-blue: #93B6B7;

$color-background: #f4f4f4;