@import './reset.scss';
@import './inputs.scss';

// Custom styles
h1 {
  font-size: 60px;
}

h2 {

}

h3 {

}

h4 {
  font-family: 'Roboto', 'sans-serif';
  font-size: 24px;
}

p {
  font-family: 'Roboto', 'sans-serif';
  font-size: 16px;
}

a {
  font-family: 'Roboto', 'sans-serif';
  font-size: 16px;
  font-weight: bold;
}
