@import './reset.scss';
@import './typography.scss';
@import './inputs.scss';
@import './colors.scss';
@import './forms.scss';

// Custom styles
body {
  font-family: $font-roboto;
  color: $color-black;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
  width: calc(100% - 100px);
  &__is-full {
    width: 100%;
  }
  &__is-half {
    width: 50%;
  }
  &--is-large-text {
    margin: 0px 30px;
    text-align: center;
  }
  &--narrow {
    width: calc(100% - 300px);    
  }

  &__main {
    display: flex;
    margin: 50px 0;

    &__full {
      width: 100%;
    }

    &__content {
      float: left;
      width: calc(100% - 400px);
    }

    &__right {
      float: right;
      width: 400px;
    }
  }
}

hr {
  border: 0;
  border-top: 1px solid #C9C9C9;  
  margin: 20px 0 0px;
  width: 100%;
  height:1px;
}

h1 {
  font-family: $font-bauhaus;  
  font-size: 60px;
  margin-bottom: 30px;
  color: $color-dark-grey;
}

h2 {
  font-family: $font-bauhaus;  
  font-size: 36px;
  margin-bottom: 30px;
  color: $color-dark-grey;
}

h3 {
  font-family: $font-bauhaus;  
  font-size: 22px;
  margin-bottom: 20px;
  color: $color-dark-grey;
}

h4 {
  font-family: $font-roboto;  
  font-size: 24px;
  font-weight: 300;
}

p {
  font-family: $font-roboto;  
  font-size: 16px;
  line-height: 30px;

  &.small {
    line-height: 24px;
    font-size: 14px;
  }

  span {
    &.bold {
      font-weight: bold;
    }
  }
}

a {
  font-family: $font-roboto;
  cursor: pointer;
  text-decoration: none;

  &.link {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    color: $color-blue;
  }
}

.label {
  margin-bottom: 5px;
  font-family: $font-roboto;  
  font-size: 10px;
  letter-spacing: 2px;

  &--uppercase {
    text-transform: uppercase;
  }

  &--big {
    font-size: 12px;
    letter-spacing: 2,4px;
  }
}

.tag {
  display: inline-block;
  background: $color-blue;
  height: 24px;
  padding: 0 20px;
  margin: 5px 10px 0 0;
  border-radius: 25px;
  transition: background 0.3s, color 0.3s;
  text-align: center;
  cursor: pointer;

  &__removeable {
    margin: 3px -10px 0 10px;
    cursor: pointer;
    height: 24px;

    svg {
      height: 7px;
      width: 10px;
      fill: $color-white;
    }
  }

  &__text {
    text-transform: uppercase;
    color: $color-white;
    line-height: 24px;
    font-size: 10px;
    letter-spacing: 2.4px;
    cursor: pointer;
  }
}

textarea {
  padding: 20px;
  font-size: 14px;
  border-radius: 4px;
  transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);  
  &:hover {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.05);
  }
  &:focus {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.05);
  }
}