@import './fonts/BAUHS93/font.scss';

// Font-Families

* {
  font-family: 'BAUHS93';
  font-family: 'Roboto', 'sans-serif';
}

h1 {

}

h2 {

}

h3 {

}

h4 {
  font-family: 'Roboto', 'sans-serif';
  font-size: 24px;
}

p {
  font-family: 'Roboto', 'sans-serif';
  font-size: 16px;
}

a {
  font-family: 'Roboto', 'sans-serif';
  font-size: 16px;
  font-weight: bold;
}



